In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import matplotlib.pyplot as plt
import networkx as nx

In [2]:
retail_df=pd.read_csv("df_2019.csv")

In [3]:
retail_df.head()

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,units,values
0,13,18,1473,2731,8396,57,2019-01-01,1.0,645.0
1,16,11,158,328,1129,108,2019-01-01,2.0,1690.0
2,21,34,230,488,1593,77,2019-01-01,1.0,3495.0
3,15,2,11,38,82,249,2019-01-01,2.0,1200.0
4,12,178,508,1016,3060,400,2019-01-01,2.0,2360.0

In [4]:
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19815527 entries, 0 to 19815526
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   ProductFamily_ID    int64
 1   ProductCategory_ID  int64
 2   ProductBrand_ID     int64
 3   ProductName_ID      int64
 4   ProductPackSKU_ID   int64
 5   Point-of-Sale_ID    int64
 6   Date                object
 7   units               float64
 8   values              float64
dtypes: float64(2), int64(6), object(1)
memory usage: 1.3+ GB

In [5]:
df=retail_df[["ProductFamily_ID","Point-of-Sale_ID","Date"]]
df.head()

   ProductFamily_ID  Point-of-Sale_ID        Date
0                13                57  2019-01-01
1                16               108  2019-01-01
2                21                77  2019-01-01
3                15               249  2019-01-01
4                12               400  2019-01-01

In [6]:
df_POS200=df[df["Point-of-Sale_ID"]==200]
df_POS200

          ProductFamily_ID  Point-of-Sale_ID        Date
59                       9               200  2019-01-01
442                      1               200  2019-01-01
1245                    21               200  2019-01-01
3240                     2               200  2019-01-01
3437                    12               200  2019-01-01
...                    ...               ...         ...
19809399                 9               200  2019-11-01
19809428                 9               200  2019-11-01
19811644                21               200  2019-11-01
19812244                12               200  2019-11-01
19814405                15               200  2019-11-01

[26038 rows x 3 columns]

In [7]:
df_POS200['month'] = pd.DatetimeIndex(df_POS200['Date']).month
df_POS200.head()

<ipython-input-7-0154015c8f21>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_POS200['month'] = pd.DatetimeIndex(df_POS200['Date']).month

      ProductFamily_ID  Point-of-Sale_ID        Date  month
59                   9               200  2019-01-01      1
442                  1               200  2019-01-01      1
1245                21               200  2019-01-01      1
3240                 2               200  2019-01-01      1
3437                12               200  2019-01-01      1

In [9]:
df_1=df_POS200[(df_POS200["month"]==1)|(df_POS200["month"]==2)|(df_POS200["month"]==3)]
df_2=df_POS200[(df_POS200["month"]==4)|(df_POS200["month"]==5)|(df_POS200["month"]==6)]
df_3=df_POS200[(df_POS200["month"]==7)|(df_POS200["month"]==8)|(df_POS200["month"]==9)]
df_4=df_POS200[(df_POS200["month"]==10)|(df_POS200["month"]==11)|(df_POS200["month"]==12)]

In [10]:
df_1

         ProductFamily_ID  Point-of-Sale_ID        Date  month
59                      9               200  2019-01-01      1
442                     1               200  2019-01-01      1
1245                   21               200  2019-01-01      1
3240                    2               200  2019-01-01      1
3437                   12               200  2019-01-01      1
...                   ...               ...         ...    ...
5964658                 1               200  2019-03-31      3
5964702                 9               200  2019-03-31      3
5965198                 1               200  2019-03-31      3
5965392                 9               200  2019-03-31      3
5968225                21               200  2019-03-31      3

[7888 rows x 4 columns]

In [11]:
df_1=df_1[["ProductFamily_ID","Date"]]
df_2=df_2[["ProductFamily_ID","Date"]]
df_3=df_3[["ProductFamily_ID","Date"]]
df_4=df_4[["ProductFamily_ID","Date"]]

#### 1st quarter

In [12]:
mba_1 = pd.pivot_table(df_1, index='Date', columns='ProductFamily_ID', 
                    aggfunc=lambda x: 1 if len(x)>0 else 0).fillna(0)
mba_1

ProductFamily_ID,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
2019-01-02,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-01-03,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
2019-01-04,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-01-05,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-27,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-03-28,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-03-29,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-03-30,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
2019-03-31,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [18]:
freq_itemsets = apriori(mba_1, min_support=0.20, use_colnames=True)
freq_itemsets.sort_values(by="support", ascending=False)

       support                                       itemsets
0          1.0                                            (1)
18         1.0                                         (1, 2)
241        1.0                                     (1, 12, 9)
166        1.0                                     (1, 2, 12)
348        1.0                                     (9, 2, 12)
...        ...                                            ...
21370      0.2                      (2, 3, 5, 6, 7, 8, 9, 15)
21371      0.2                      (2, 3, 5, 6, 7, 8, 9, 18)
21372      0.2                      (2, 3, 5, 6, 7, 8, 9, 21)
21373      0.2                     (2, 3, 5, 6, 7, 8, 12, 15)
27262      0.2  (1, 2, 3, 6, 7, 8, 9, 12, 13, 14, 15, 18, 21)

[27263 rows x 2 columns]

In [19]:
rulesConfidence = association_rules(freq_itemsets, metric="confidence", min_threshold=0.2)
rulesConfidence.sort_values(by='confidence', ascending=False, inplace=True)
rulesConfidence

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1),(2),1.000000,1.000000,1.000000,1.0,1.000000,0.000000,inf
2462652,"(5, 7, 8, 12, 14, 15, 18)",(21),0.322222,0.988889,0.322222,1.0,1.011236,0.003580,inf
2462666,"(5, 7, 8, 14, 15, 18)","(12, 21)",0.322222,0.988889,0.322222,1.0,1.011236,0.003580,inf
2462662,"(5, 7, 8, 12, 14, 21)","(18, 15)",0.322222,0.966667,0.322222,1.0,1.034483,0.010741,inf
2462661,"(5, 7, 8, 12, 14, 18)","(21, 15)",0.322222,0.966667,0.322222,1.0,1.034483,0.010741,inf
...,...,...,...,...,...,...,...,...,...
5431142,(9),"(2, 3, 5, 6, 7, 12, 14, 15, 18, 21)",1.000000,0.200000,0.200000,0.2,1.000000,0.000000,1.0
5431137,(2),"(3, 5, 6, 7, 9, 12, 14, 15, 18, 21)",1.000000,0.200000,0.200000,0.2,1.000000,0.000000,1.0
243157,"(1, 12)","(8, 18, 4, 13)",1.000000,0.200000,0.200000,0.2,1.000000,0.000000,1.0
3992613,"(9, 2, 12)","(1, 3, 5, 7, 8, 13, 15)",1.000000,0.200000,0.200000,0.2,1.000000,0.000000,1.0
1818754,(1),"(3, 6, 10, 12, 14, 18, 21)",1.000000,0.200000,0.200000,0.2,1.000000,0.000000,1.0

In [20]:
# High Confidence and high Lift - complementary products
rulesConfidence_cp=rulesConfidence[(rulesConfidence['confidence'] >= 0.7) & (rulesConfidence['lift'] > 1)]
rulesConfidence_cp.sort_values(by=['confidence','lift'], ascending=False, inplace=True)
rulesConfidence_cp

<ipython-input-20-f7824b59aa5b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rulesConfidence_cp.sort_values(by=['confidence','lift'], ascending=False, inplace=True)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2497448,(20),"(8, 9, 12, 14, 15, 18, 21)",0.233333,0.877778,0.233333,1.0,1.139241,0.028519,inf
2497439,"(18, 20)","(8, 9, 12, 14, 15, 21)",0.233333,0.877778,0.233333,1.0,1.139241,0.028519,inf
2497430,"(12, 20)","(8, 9, 14, 15, 18, 21)",0.233333,0.877778,0.233333,1.0,1.139241,0.028519,inf
2497425,"(9, 20)","(8, 12, 14, 15, 18, 21)",0.233333,0.877778,0.233333,1.0,1.139241,0.028519,inf
2497401,"(18, 12, 20)","(8, 9, 14, 15, 21)",0.233333,0.877778,0.233333,1.0,1.139241,0.028519,inf
...,...,...,...,...,...,...,...,...,...
1016983,"(21, 5, 14)","(8, 2, 12, 6)",0.555556,0.644444,0.388889,0.7,1.086207,0.030864,1.185185
1016981,"(12, 5, 14)","(8, 2, 21, 6)",0.555556,0.644444,0.388889,0.7,1.086207,0.030864,1.185185
1500910,"(21, 12, 5, 14)","(8, 1, 2, 6)",0.555556,0.644444,0.388889,0.7,1.086207,0.030864,1.185185
1500890,"(2, 21, 5, 14)","(8, 1, 12, 6)",0.555556,0.644444,0.388889,0.7,1.086207,0.030864,1.185185
1013657,"(2, 12, 5, 14)","(8, 9, 6)",0.555556,0.644444,0.388889,0.7,1.086207,0.030864,1.185185

In [21]:
# Substitue products 
rulesLift = association_rules(freq_itemsets, metric="lift", min_threshold=0.0)
rulesLift.sort_values(by='lift', ascending=True, inplace=True)
rulesLift[(rulesLift['lift'] < 1.0)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
363985,"(8, 6, 15)","(2, 10, 12)",0.633333,0.377778,0.211111,0.333333,0.882353,-2.814815e-02,0.933333
474336,"(8, 6, 15)","(10, 12, 14)",0.633333,0.377778,0.211111,0.333333,0.882353,-2.814815e-02,0.933333
2477621,"(10, 14)","(6, 8, 9, 12, 15, 18)",0.377778,0.633333,0.211111,0.558824,0.882353,-2.814815e-02,0.831111
1595789,"(1, 2, 6, 8, 15)","(10, 12, 14)",0.633333,0.377778,0.211111,0.333333,0.882353,-2.814815e-02,0.933333
3013611,"(1, 10, 12, 9)","(2, 6, 8, 15, 18)",0.377778,0.633333,0.211111,0.558824,0.882353,-2.814815e-02,0.831111
...,...,...,...,...,...,...,...,...,...
871094,"(14, 7)","(1, 8, 9, 15, 16)",0.555556,0.400000,0.222222,0.400000,1.000000,-2.775558e-17,1.000000
5352079,"(1, 7, 9, 12, 14, 21)","(2, 8, 15, 16, 18)",0.555556,0.400000,0.222222,0.400000,1.000000,-2.775558e-17,1.000000
4498887,"(1, 7, 12, 14, 15, 21)","(8, 16, 2, 18)",0.555556,0.400000,0.222222,0.400000,1.000000,-2.775558e-17,1.000000
4498886,"(1, 7, 12, 14, 15, 18)","(8, 16, 2, 21)",0.555556,0.400000,0.222222,0.400000,1.000000,-2.775558e-17,1.000000
1987138,"(14, 7)","(1, 8, 9, 12, 15, 16)",0.555556,0.400000,0.222222,0.400000,1.000000,-2.775558e-17,1.000000

#### 2nd quarter

In [22]:
mba_2= pd.pivot_table(df_2, index='Date', columns='ProductFamily_ID', 
                    aggfunc=lambda x: 1 if len(x)>0 else 0).fillna(0)
mba_2.head()

ProductFamily_ID,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,19,20,21
Date,,,,,,,,,,,,,,,,,,,,
2019-04-01,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
2019-04-02,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
2019-04-03,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
2019-04-04,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-04-05,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0

In [23]:
freq_itemsets_2 = apriori(mba_2, min_support=0.20, use_colnames=True)
freq_itemsets_2.sort_values(by="support", ascending=False)

      support               itemsets
0     1.00000                    (1)
205   1.00000             (1, 12, 9)
103   1.00000                (9, 12)
8     1.00000                    (9)
10    1.00000                   (12)
...       ...                    ...
4677  0.21978  (1, 3, 9, 12, 13, 15)
4678  0.21978  (1, 3, 9, 12, 13, 18)
4679  0.21978  (1, 3, 9, 12, 13, 21)
4686  0.21978  (1, 3, 9, 13, 14, 15)
2225  0.21978     (1, 3, 12, 13, 18)

[11263 rows x 2 columns]

In [24]:
rulesConfidence_2 = association_rules(freq_itemsets_2, metric="confidence", min_threshold=0.2)
rulesConfidence_2.sort_values(by='confidence', ascending=False, inplace=True)
rulesConfidence_2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
785898,"(15, 21, 6, 14)","(8, 1, 18, 12)",0.483516,0.923077,0.483516,1.00000,1.083333,0.037194,inf
624613,"(8, 4, 14, 7)","(1, 2, 12, 9)",0.219780,0.989011,0.219780,1.00000,1.011111,0.002415,inf
624574,"(1, 4, 14, 7)","(8, 9, 2, 12)",0.219780,0.967033,0.219780,1.00000,1.034091,0.007246,inf
624553,"(4, 7, 9, 12, 14)","(8, 1, 2)",0.219780,0.967033,0.219780,1.00000,1.034091,0.007246,inf
624552,"(4, 7, 8, 12, 14)","(1, 2, 9)",0.219780,0.989011,0.219780,1.00000,1.011111,0.002415,inf
...,...,...,...,...,...,...,...,...,...
1027419,"(1, 12)","(2, 3, 8, 9, 13, 15, 18)",1.000000,0.219780,0.219780,0.21978,1.000000,0.000000,1.0
1027441,"(9, 12)","(1, 2, 3, 8, 13, 15, 18)",1.000000,0.219780,0.219780,0.21978,1.000000,0.000000,1.0
1027451,(1),"(2, 3, 8, 9, 12, 13, 15, 18)",1.000000,0.219780,0.219780,0.21978,1.000000,0.000000,1.0
1027455,(9),"(1, 2, 3, 8, 12, 13, 15, 18)",1.000000,0.219780,0.219780,0.21978,1.000000,0.000000,1.0
449404,(12),"(2, 3, 8, 13, 15, 21)",1.000000,0.219780,0.219780,0.21978,1.000000,0.000000,1.0

In [25]:
# High Confidence and high Lift - complementary products
rulesConfidence_cp_2=rulesConfidence_2[(rulesConfidence_2['confidence'] >= 0.7) & (rulesConfidence_2['lift'] > 1)]
rulesConfidence_cp_2.sort_values(by=['confidence','lift'], ascending=False, inplace=True)
rulesConfidence_cp_2

<ipython-input-25-6aadbd7765d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rulesConfidence_cp_2.sort_values(by=['confidence','lift'], ascending=False, inplace=True)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
624441,"(3, 13)","(1, 2, 14, 15, 18, 21)",0.219780,0.879121,0.219780,1.000000,1.137500,0.026567,inf
624249,"(1, 2, 3, 13, 21)","(18, 14, 15)",0.219780,0.879121,0.219780,1.000000,1.137500,0.026567,inf
624411,"(21, 3, 13)","(1, 2, 14, 15, 18)",0.219780,0.879121,0.219780,1.000000,1.137500,0.026567,inf
624393,"(2, 3, 13)","(1, 14, 15, 18, 21)",0.219780,0.879121,0.219780,1.000000,1.137500,0.026567,inf
624378,"(1, 3, 13)","(2, 14, 15, 18, 21)",0.219780,0.879121,0.219780,1.000000,1.137500,0.026567,inf
...,...,...,...,...,...,...,...,...,...
615313,(2),"(1, 3, 8, 14, 15, 18, 21)",0.989011,0.725275,0.725275,0.733333,1.011111,0.007970,1.03022
1033035,"(9, 2)","(1, 3, 8, 14, 15, 18, 21)",0.989011,0.725275,0.725275,0.733333,1.011111,0.007970,1.03022
1376458,"(9, 2)","(1, 3, 8, 12, 14, 15, 18, 21)",0.989011,0.725275,0.725275,0.733333,1.011111,0.007970,1.03022
1376459,"(2, 12)","(1, 3, 8, 9, 14, 15, 18, 21)",0.989011,0.725275,0.725275,0.733333,1.011111,0.007970,1.03022
282326,(2),"(1, 3, 14, 15, 18, 21)",0.989011,0.725275,0.725275,0.733333,1.011111,0.007970,1.03022

In [26]:
# Substitue products 
rulesLift_2 = association_rules(freq_itemsets_2, metric="lift", min_threshold=0.0)
rulesLift_2.sort_values(by='lift', ascending=True, inplace=True)
rulesLift_2[(rulesLift_2['lift'] < 1.0)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1346306,"(1, 3, 7, 14, 18)","(2, 6, 9, 12, 15)",0.483516,0.516484,0.230769,0.477273,0.924081,-0.018959,0.924988
1557979,"(3, 7, 8, 14, 15, 18, 21)","(9, 2, 12, 6)",0.483516,0.516484,0.230769,0.477273,0.924081,-0.018959,0.924988
1337636,"(8, 6)","(1, 2, 3, 7, 9, 14, 15, 18)",0.516484,0.483516,0.230769,0.446809,0.924081,-0.018959,0.933643
1557977,"(3, 7, 8, 12, 14, 18, 21)","(9, 2, 6, 15)",0.483516,0.516484,0.230769,0.477273,0.924081,-0.018959,0.924988
1337621,"(2, 6)","(1, 3, 7, 8, 9, 14, 15, 18)",0.516484,0.483516,0.230769,0.446809,0.924081,-0.018959,0.933643
...,...,...,...,...,...,...,...,...,...
74927,"(9, 21)","(5, 14, 15)",0.978022,0.494505,0.483516,0.494382,0.999750,-0.000121,0.999756
234133,"(9, 12, 21)","(5, 14, 15)",0.978022,0.494505,0.483516,0.494382,0.999750,-0.000121,0.999756
303952,"(1, 12, 21)","(2, 5, 14, 15)",0.978022,0.494505,0.483516,0.494382,0.999750,-0.000121,0.999756
473211,"(12, 21)","(2, 5, 9, 14, 15)",0.978022,0.494505,0.483516,0.494382,0.999750,-0.000121,0.999756
16351,(21),"(5, 14, 15)",0.978022,0.494505,0.483516,0.494382,0.999750,-0.000121,0.999756

#### 3rd quarter

In [27]:
mba_3= pd.pivot_table(df_3, index='Date', columns='ProductFamily_ID', 
                    aggfunc=lambda x: 1 if len(x)>0 else 0).fillna(0)
mba_3

ProductFamily_ID,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,19,20,21
Date,,,,,,,,,,,,,,,,,,,,
2019-07-01,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
2019-07-02,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
2019-07-03,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-07-04,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
2019-07-05,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-26,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
2019-09-27,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
2019-09-28,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-09-29,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-09-30,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0

In [28]:
freq_itemsets_3 = apriori(mba_3, min_support=0.20, use_colnames=True)
freq_itemsets_3.sort_values(by="support", ascending=False)

        support                                   itemsets
0      1.000000                                        (1)
8      1.000000                                        (9)
224    1.000000                                 (1, 12, 9)
27     1.000000                                    (1, 12)
25     1.000000                                     (1, 9)
...         ...                                        ...
14170  0.206522              (2, 7, 9, 12, 14, 15, 19, 21)
14171  0.206522              (2, 7, 9, 12, 14, 18, 19, 21)
14172  0.206522              (2, 7, 9, 12, 15, 18, 19, 21)
14173  0.206522              (2, 7, 9, 14, 15, 18, 19, 21)
16286  0.206522  (1, 2, 5, 6, 7, 8, 9, 12, 14, 15, 18, 21)

[16287 rows x 2 columns]

In [29]:
rulesConfidence_3 = association_rules(freq_itemsets_3, metric="confidence", min_threshold=0.20)
rulesConfidence_3.sort_values(by='confidence', ascending=False, inplace=True)
rulesConfidence_3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
865416,"(1, 2, 3, 7, 9, 14, 18)",(12),0.532609,1.000000,0.532609,1.000000,1.000000,0.000000,inf
963719,"(2, 6, 7, 8, 12, 14, 15)",(1),0.358696,1.000000,0.358696,1.000000,1.000000,0.000000,inf
1895032,"(2, 3, 4, 7, 8, 21)","(9, 12, 15)",0.217391,0.891304,0.217391,1.000000,1.121951,0.023629,inf
594077,"(3, 5, 7, 8, 15)","(9, 2)",0.293478,0.989130,0.293478,1.000000,1.010989,0.003190,inf
594078,"(3, 5, 7, 9, 15)","(8, 2)",0.293478,0.945652,0.293478,1.000000,1.057471,0.015950,inf
...,...,...,...,...,...,...,...,...,...
20535,(9),"(8, 10, 7)",1.000000,0.206522,0.206522,0.206522,1.000000,0.000000,1.0
2241619,(12),"(1, 2, 3, 7, 8, 14, 15, 19, 21)",1.000000,0.206522,0.206522,0.206522,1.000000,0.000000,1.0
2241614,(1),"(2, 3, 7, 8, 12, 14, 15, 19, 21)",1.000000,0.206522,0.206522,0.206522,1.000000,0.000000,1.0
2241573,"(1, 12)","(2, 3, 7, 8, 14, 15, 19, 21)",1.000000,0.206522,0.206522,0.206522,1.000000,0.000000,1.0
2238553,(9),"(1, 2, 3, 7, 8, 15, 18, 19, 21)",1.000000,0.206522,0.206522,0.206522,1.000000,0.000000,1.0

In [30]:
# High Confidence and high Lift - complementary products
rulesConfidence_cp_3=rulesConfidence_3[(rulesConfidence_3['confidence'] >= 0.7) & (rulesConfidence_3['lift'] > 1)]
rulesConfidence_cp_3.sort_values(by=['confidence','lift'], ascending=False, inplace=True)
rulesConfidence_cp_3

<ipython-input-30-633d503183b2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rulesConfidence_cp_3.sort_values(by=['confidence','lift'], ascending=False, inplace=True)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2236185,"(1, 19, 9, 7)","(2, 3, 8, 14, 15, 21)",0.206522,0.750000,0.206522,1.0,1.333333,0.051630,inf
2236431,"(9, 19, 7)","(1, 2, 3, 8, 14, 15, 21)",0.206522,0.750000,0.206522,1.0,1.333333,0.051630,inf
2236487,"(19, 7)","(1, 2, 3, 8, 9, 14, 15, 21)",0.206522,0.750000,0.206522,1.0,1.333333,0.051630,inf
2236358,"(1, 19, 7)","(2, 3, 8, 9, 14, 15, 21)",0.206522,0.750000,0.206522,1.0,1.333333,0.051630,inf
2241597,"(19, 7)","(1, 2, 3, 8, 12, 14, 15, 21)",0.206522,0.750000,0.206522,1.0,1.333333,0.051630,inf
...,...,...,...,...,...,...,...,...,...
491346,"(19, 3)","(1, 6, 9, 14, 18)",0.326087,0.576087,0.228261,0.7,1.215094,0.040406,1.413043
1252614,"(18, 19, 2, 3)","(12, 21, 6, 14)",0.326087,0.576087,0.228261,0.7,1.215094,0.040406,1.413043
1556968,"(2, 3, 9, 18, 19, 21)","(1, 6, 14)",0.326087,0.576087,0.228261,0.7,1.215094,0.040406,1.413043
1557037,"(1, 3, 18, 19, 21)","(9, 2, 6, 14)",0.326087,0.576087,0.228261,0.7,1.215094,0.040406,1.413043
1252616,"(19, 2, 3, 21)","(18, 12, 6, 14)",0.326087,0.576087,0.228261,0.7,1.215094,0.040406,1.413043

In [31]:
# Substitue products 
rulesLift_3 = association_rules(freq_itemsets_3, metric="lift", min_threshold=0.0)
rulesLift_3.sort_values(by='lift', ascending=True, inplace=True)
rulesLift_3[(rulesLift_3['lift'] < 1.0)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
738472,"(8, 9, 10, 15, 18)","(3, 21)",0.315217,0.902174,0.250000,0.793103,0.879103,-0.034381,0.472826
2255133,"(1, 2, 8, 10, 15, 18)","(9, 3, 12, 21)",0.315217,0.902174,0.250000,0.793103,0.879103,-0.034381,0.472826
742126,"(8, 10, 12, 15, 18)","(3, 21)",0.315217,0.902174,0.250000,0.793103,0.879103,-0.034381,0.472826
1978288,"(2, 8, 10, 12, 15)","(9, 18, 3, 21)",0.315217,0.902174,0.250000,0.793103,0.879103,-0.034381,0.472826
1268027,"(2, 8, 9, 10, 12, 15)","(3, 21)",0.315217,0.902174,0.250000,0.793103,0.879103,-0.034381,0.472826
...,...,...,...,...,...,...,...,...,...
1330,(2),"(9, 18)",0.989130,0.989130,0.978261,0.989011,0.999879,-0.000118,0.989130
4537,"(1, 2, 12)",(18),0.989130,0.989130,0.978261,0.989011,0.999879,-0.000118,0.989130
4540,"(1, 2)","(18, 12)",0.989130,0.989130,0.978261,0.989011,0.999879,-0.000118,0.989130
1327,"(9, 18)",(2),0.989130,0.989130,0.978261,0.989011,0.999879,-0.000118,0.989130
336,"(1, 2)",(18),0.989130,0.989130,0.978261,0.989011,0.999879,-0.000118,0.989130

#### 4th quarter

In [32]:
mba_4= pd.pivot_table(df_4, index='Date', columns='ProductFamily_ID', 
                    aggfunc=lambda x: 1 if len(x)>0 else 0).fillna(0)
mba_4

ProductFamily_ID,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,19,20,21
Date,,,,,,,,,,,,,,,,,,,,
2019-10-01,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
2019-10-02,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-10-03,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-10-04,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-10-05,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-10-06,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
2019-10-07,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
2019-10-08,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
2019-10-09,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
2019-10-10,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
2019-10-11,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
2019-10-12,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-10-13,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
2019-10-14,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
2019-10-15,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
2019-10-16,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
2019-10-17,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
2019-10-18,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2019-10-19,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2019-10-20,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
2019-10-21,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
2019-10-22,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-10-23,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
2019-10-24,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
2019-10-25,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-10-26,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-10-27,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-10-28,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2019-10-29,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
2019-10-30,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
2019-10-31,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
2019-11-01,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0

In [33]:
freq_itemsets_4 = apriori(mba_4, min_support=0.20, use_colnames=True)
freq_itemsets_4.sort_values(by="support", ascending=False)

       support                        itemsets
0      1.00000                             (1)
4292   1.00000              (2, 9, 12, 14, 15)
776    1.00000                  (1, 2, 12, 14)
765    1.00000                   (1, 2, 9, 15)
764    1.00000                   (1, 2, 14, 9)
...        ...                             ...
21960  0.21875  (1, 2, 5, 6, 8, 9, 13, 14, 21)
21959  0.21875  (1, 2, 5, 6, 8, 9, 13, 14, 18)
21958  0.21875  (1, 2, 5, 6, 8, 9, 13, 14, 15)
10124  0.21875            (5, 6, 8, 9, 13, 21)
10483  0.21875           (6, 8, 9, 14, 15, 20)

[25599 rows x 2 columns]

In [34]:
rulesConfidence_4 = association_rules(freq_itemsets_4, metric="confidence", min_threshold=0.20)
rulesConfidence_4.sort_values(by='confidence', ascending=False, inplace=True)
rulesConfidence_4

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1),(2),1.000,1.00000,1.00000,1.00000,1.000000,0.000000,inf
1720838,"(1, 3, 8, 14, 21)","(9, 12, 15)",0.875,1.00000,0.87500,1.00000,1.000000,0.000000,inf
1720836,"(1, 3, 8, 12, 21)","(9, 14, 15)",0.875,1.00000,0.87500,1.00000,1.000000,0.000000,inf
1720835,"(1, 3, 8, 12, 15)","(9, 21, 14)",0.875,0.96875,0.87500,1.00000,1.032258,0.027344,inf
1720834,"(1, 3, 8, 12, 14)","(9, 21, 15)",0.875,0.96875,0.87500,1.00000,1.032258,0.027344,inf
...,...,...,...,...,...,...,...,...,...
3940563,"(1, 2, 12)","(3, 5, 8, 9, 13, 14, 18)",1.000,0.21875,0.21875,0.21875,1.000000,0.000000,1.0
3940562,"(1, 2, 9)","(3, 5, 8, 12, 13, 14, 18)",1.000,0.21875,0.21875,0.21875,1.000000,0.000000,1.0
541098,"(1, 2, 14)","(9, 13, 5, 15)",1.000,0.21875,0.21875,0.21875,1.000000,0.000000,1.0
220004,(15),"(1, 5, 6, 10, 18)",1.000,0.21875,0.21875,0.21875,1.000000,0.000000,1.0
2774431,"(1, 2, 14)","(5, 6, 9, 10, 15, 21)",1.000,0.21875,0.21875,0.21875,1.000000,0.000000,1.0

In [35]:
# High Confidence and high Lift - complementary products
rulesConfidence_cp_4=rulesConfidence_4[(rulesConfidence_4['confidence'] >= 0.7) & (rulesConfidence_4['lift'] > 1)]
rulesConfidence_cp_4.sort_values(by=['confidence','lift'], ascending=False, inplace=True)
rulesConfidence_cp_4

<ipython-input-35-6a2ee33bc170>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rulesConfidence_cp_4.sort_values(by=['confidence','lift'], ascending=False, inplace=True)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4487589,"(1, 3, 5, 9, 10, 12, 14)","(8, 6, 15)",0.21875,0.6875,0.21875,1.0,1.454545,0.068359,inf
4487590,"(1, 3, 5, 9, 10, 12, 15)","(8, 6, 14)",0.21875,0.6875,0.21875,1.0,1.454545,0.068359,inf
4487591,"(1, 3, 5, 9, 10, 14, 15)","(8, 12, 6)",0.21875,0.6875,0.21875,1.0,1.454545,0.068359,inf
4487593,"(1, 3, 5, 10, 12, 14, 15)","(8, 9, 6)",0.21875,0.6875,0.21875,1.0,1.454545,0.068359,inf
4487534,"(1, 3, 5, 9, 10, 12, 14, 15)","(8, 6)",0.21875,0.6875,0.21875,1.0,1.454545,0.068359,inf
...,...,...,...,...,...,...,...,...,...
4628211,"(8, 1, 12, 20)","(3, 6, 9, 15, 18, 21)",0.31250,0.6875,0.21875,0.7,1.018182,0.003906,1.041667
3292072,"(18, 12, 20, 15)","(1, 6, 8, 9, 21)",0.31250,0.6875,0.21875,0.7,1.018182,0.003906,1.041667
2544345,"(1, 18, 20, 9)","(2, 3, 6, 8, 12)",0.31250,0.6875,0.21875,0.7,1.018182,0.003906,1.041667
2544344,"(1, 12, 20, 9)","(2, 3, 6, 8, 18)",0.31250,0.6875,0.21875,0.7,1.018182,0.003906,1.041667
1475862,"(1, 20, 14)","(2, 6, 8, 15, 21)",0.31250,0.6875,0.21875,0.7,1.018182,0.003906,1.041667

In [36]:
# Substitue products 
rulesLift_4 = association_rules(freq_itemsets_4, metric="lift", min_threshold=0.0)
rulesLift_4.sort_values(by='lift', ascending=True, inplace=True)
rulesLift_4[(rulesLift_4['lift'] < 1.0)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1777762,"(5, 8, 9, 10, 18)","(1, 12, 21)",0.25000,0.96875,0.21875,0.875000,0.903226,-0.023438,0.25000
1786815,"(9, 21)","(1, 5, 10, 14, 15, 18)",0.96875,0.25000,0.21875,0.225806,0.903226,-0.023438,0.96875
2819209,"(1, 10, 18, 5)","(2, 9, 12, 14, 21)",0.25000,0.96875,0.21875,0.875000,0.903226,-0.023438,0.25000
1786822,"(21, 14)","(1, 5, 9, 10, 15, 18)",0.96875,0.25000,0.21875,0.225806,0.903226,-0.023438,0.96875
1786824,"(21, 15)","(1, 5, 9, 10, 14, 18)",0.96875,0.25000,0.21875,0.225806,0.903226,-0.023438,0.96875
...,...,...,...,...,...,...,...,...,...
177067,"(1, 21, 9)","(2, 18, 15)",0.96875,0.96875,0.93750,0.967742,0.998959,-0.000977,0.96875
261653,"(1, 21)","(9, 18, 12, 14)",0.96875,0.96875,0.93750,0.967742,0.998959,-0.000977,0.96875
262610,"(1, 21, 9, 15)","(18, 14)",0.96875,0.96875,0.93750,0.967742,0.998959,-0.000977,0.96875
170996,"(8, 2, 18)","(1, 21, 9)",0.96875,0.96875,0.93750,0.967742,0.998959,-0.000977,0.96875
262609,"(1, 18, 9, 15)","(21, 14)",0.96875,0.96875,0.93750,0.967742,0.998959,-0.000977,0.96875